{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["@react-native-community", "airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "react/style-prop-object": ["off"],
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
